body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
} 

.header {
  height: 72px;
  display: flex;
  align-items: center;
  padding-left: 16px;
  font-size: 32px;
  font-weight: 900;
  background: darkmagenta;
  color: white;
}

.main {
  display: flex;
  flex: 1;
  gap: 32px;
  align-items: stretch;
}

.footer {
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: #eee;
  color: darkmagenta;
}

.sidebar {
  flex: 0 0 300px;
  background: royalblue;
  padding: 16px;
  box-sizing: border-box;
}

.sidebar a {
  color: white;
  font-size: 24px;
  text-decoration: none;
  display: block;
  margin-bottom: 8px;
}

.cards {
  flex: 1 1 auto;
  padding: 48px;
  display: flex;
  gap: 32px;
  flex-wrap: wrap;
  align-content: flex-start;
}

.card {
  flex: 1 1 320px;
  min-width: 240px;
  box-sizing: border-box;
  padding: 16px;
  border: 1px solid #eee;
  box-shadow: 2px 4px 16px rgba(0,0,0,.06);
  border-radius: 4px;
} 