/* Add CSS Styling */
.btn {
    background-color: black;
    color: white;
}

.btn2 {
    background-color: yellow;
    color: #5c2121;
}

.btn, .btn2 {
    font-size: 28px;
    font-family: Helvetica, "Times New Roman", sans-serif;
}